span.card-title {
    font-size: xx-large;
    color: #F44336;
    font-family: fantasy;
    padding: 10px 0px 20px 20px;
}

.card.blue-grey.darken-1 {
    background-color: #1C2331;
}

.card.blue-grey.darken-1 {
    box-shadow: 4px 12px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

p.card-data {
    font-size: x-large;
    color: #3F51B5;
    text-align: center;
}

a.card-links {
    font-size: x-large;
    color: #03A9F4;
    padding: 10px;
}

a.btn.btn-card.btn-default.waves-effect.waves-light {
    color: white;
    font-size: 20px;
    margin: 10px;
    font-family: serif;
    background-color: rgba(156, 39, 176, 0);
    border-color: #2196F3;
    padding: 3px 0px;
}
a.btn.btn-card.btn-default.waves-effect.waves-light:hover {
    border-color: #3F51B5;
    color: #9E9E9E;
}

button.btn.btn-lg.btn-primary.btn-add-to-basket {
    margin-bottom: 0px;
    background-color: rgba(240, 248, 255, 0);
    margin-left: 10px;
    font-family: serif;
    font-size: 20px;
}

button.btn.btn-lg.btn-primary.btn-add-to-basket:hover {
    color: #9E9E9E;
}

.radio.rent_ch_btn {
    text-align: center;
    padding: 10px 0px;
}