{% extends "base.html" %}
{% load staticfiles %}

{% block body_id %} HIW {% endblock %}

{% block layout %}
<div class="col-md-4">
                <!--Image Card-->
                <div class="card hoverable">
                    <div class="card-image">
                        <div class="view overlay hm-white-slight z-depth-1">
                            <img src="http://mdbootstrap.com/images/reg/reg%20(2).jpg" class="img-responsive" alt="">
                            <div class="mask waves-effect"></div>
                        </div>
                        <span class="card-title">Order</span>
                    </div>
                    <div class="card-content">
                        <p>Choose your book from our huge collection and choose your rent period. Order it online just by few clicks.</p>
                    </div>
                    <div class="card-action">
                        <a></a>
                    </div>
                </div>
                <!--Image Card-->
</div>
<div class="col-md-4">
                <!--Image Card-->
                <div class="card hoverable">
                    <div class="card-image">
                        <div class="view overlay hm-white-slight z-depth-1">
                            <img src="http://mdbootstrap.com/images/reg/reg%20(2).jpg" class="img-responsive" alt="">
                            <div class="mask waves-effect"></div>
                        </div>
                        <span class="card-title">Pick</span>
                    </div>
                    <div class="card-content">
                        <p>Pick up your book from your college and pay the initial renting amount.</p>
                    </div>
                    <div class="card-action">
                        <a></a>
                    </div>
                </div>
                <!--Image Card-->
            </div>
            <div class="col-md-4">
                            <!--Image Card-->
                            <div class="card hoverable">
                                <div class="card-image">
                                    <div class="view overlay hm-white-slight z-depth-1">
                                        <img src="http://mdbootstrap.com/images/reg/reg%20(2).jpg" class="img-responsive" alt="">
                                        <div class="mask waves-effect"></div>
                                    </div>
                                    <span class="card-title">Return</span>
                                </div>
                                <div class="card-content">
                                    <p>Let us know when to pick your book and we will come to you and your remaining money will be returned.</p>
                                </div>
                                <div class="card-action">
                                    <a></a>
                                </div>
                            </div>
                            <!--Image Card-->
                        </div>

            {% endblock%}
